<!-- tasks/templates/tasks/create_task.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create a new task</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new task</h1>
                <form method="post">
                    {% csrf_token %} {# Include CSRF token for security #}
                    {{ form.as_p }} {# Render the form #}
                    <button type="submit">Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
